.banner-area{
    background: url('./images/c.jpg') no-repeat center center fixed;
    background-size: cover;
    
    text-align: center;
    vertical-align: middle;
    color: white;

}
.banner-area-headline{
    font-size: 4.0rem;
}

.content-box{
    text-align: center;
    
}



.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.headings{
    
    margin-bottom: 40px;
    text-align: center;
    color:rgb(42, 119, 60);
}

.intro-text{
    padding-top: 150px;
    padding-bottom: 100px;
}


@media (min-width: 768px){
.intro-text{
    padding-top: 300px;
    padding-bottom: 200px;

    }
}

body{
    position: relative;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:green;
}

/* --------------------------------------------------Portfolio styles----------------------------------------------- */
.portfolio-img-container{
    
}

.portfolio-img-container img{
    box-shadow: 0 10px 6px -6px #777;
    
    width: 100%;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.5s ease;
}

.middle{
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
}

.portfolio-img-container:hover .middle{
    opacity: 1;
}

.portfolio-img-container:hover .portolio-img{
    opacity: 0.5;
}

.modal-footer{
    display: block;
}

@media(min-width:900px) 
    {
        .modal-dialog{
            max-width: 800px;
            }
}

/* _________________________________Resume__________________________________________ */


.skill-box{
    display: inline-block;
    padding:20px; 
    color:white;

}

div i{
    color:white;
}

.dark-theme{
    color: white;
    background: #4b4b4c;
}


.sub-section{
    padding-bottom: 40px;
    padding-top: 40px;
}